<h2>Eventos</h2>
<hr>
<div action="" class="row g-3 align-items-center mb-2">
    <div class="col-auto d-flex align-items-center">
        <label class="me-2">Filtro: </label>
        <input type="text" class="form-control" placeholder="buscar" [(ngModel)]="filtroLista">
    </div>
</div>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                <button class="btn btn-outline-light" (click)="isCollapsed = !isCollapsed" type="button">
                    {{isCollapsed ? "Exibir imagem" : "Ocultar imagem" }}

                </button>
            </th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventosFiltrados">
            <th>
                <div [collapse]="isCollapsed" [isAnimated]="true">
                    <img src="/assets/{{evento.imagemURL}}" [style.width.px]="widthImg" [style.margin.px]="marginImg">
                </div>
            </th>
            <th>{{evento.eventoId}}</th>
            <th>{{evento.tema}}</th>
            <th>{{evento.local}}</th>
            <th>{{evento.dataEvento}}</th>
            <th>{{evento.qtdPessoas}}</th>
            <th>{{evento.lote}}</th>
            <th>
                <button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
                <button type="button" class="btn btn-danger btn-sm">Excluir</button>
            </th>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
        <tr>
            <td colspan="8">
                <h4>Nenhuma evento foi encontrado</h4>
            </td>
        </tr>
    </tfoot>
</table>